<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Tauri HTMX CRUD App</title>
  <script src="htmx.min.js"></script>
  <script src="htmx-tauri.js"></script>
</head>
<body>
  <div class="container">
    <h1>HTMX-RUST</h1>
    <h2>The security first minimalist tech stack</h2>
    <div class="row">
      <input id="greet-input" name="name" placeholder="Enter a name..." />
      <button hx-post="command:greet" 
              hx-include="[name='name']" 
              hx-trigger="click" 
              hx-target="#greet-msg" 
              hx-swap="innerHTML">Greet</button>
      <button hx-get="command:reset" 
              hx-trigger="click" 
              hx-target="#greet-msg" 
              hx-swap="innerHTML">Reset</button>
    </div>
    <div id="greet-msg"></div>
  </div>
</body>
</html>
